$primary-color: #001C43;
$secondary-color: #366C7F;
$blue-acua-marin: #5DAFAF;

$back-ground-dash-board: #22242B;

$back-ground-gray-light: #F2F2F2;

$hover-brown: rgba(255, 255, 255, 0.2);

$border-radius-default: 10px;
$table-border-radius: 20px;
$column-form-gap: 2%;
