<mat-toolbar class="header" [ngClass]="{'header-open': baseState.isOpen(), 'header-close': !baseState.isOpen()}" color="primary">
    <button mat-icon-button aria-label="Menu" (click)="toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="dasboard-container" [hasBackdrop]="baseState.isMobile()">
    <mat-drawer class="dasboard" [mode]="mode" [opened]="baseState.isOpen()" [disableClose]="true">
        <section class="menu-container">
            <div class="header-menu">
                <h1>
                    ROADA
                </h1>
                <div class="profile-info">
                    <mat-icon>person</mat-icon>
                    {{sesionStore.nombre | uppercase}}
                </div>

            </div>
            <div class="menu">
                <mat-list>
                    @for (item of menuItems; track $index) {
                    <app-sidebar-item [item]="item" />
                    }
                </mat-list>
            </div>
            <div class="log-out">
                <button (click)="logOut()" mat-flat-button class="btn btn-login">
                    <mat-icon>logout</mat-icon>
                    CERRAR SESIÓN
                </button>
            </div>
        </section>
    </mat-drawer>

    <mat-drawer-content class="dasboard-content">
        <main>
            <router-outlet />
        </main>
    </mat-drawer-content>
</mat-drawer-container>