@use 'media-queries' as mq;
@use 'variables' as v;
@use 'utils' as u;




.dasboard-container {
    height: 100dvh;
    display: flex;

    mat-drawer.dasboard {
        width: 25dvw;
        border-radius: 0px !important;

        .menu-container {
            .header-menu {
                color: white;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .profile-info {
                    display: flex;
                    align-items: center;
                    // .aligned-with-icon{
                    //     position: absolute;
                    //     margin-top: 5px;
                    // }
                }
                h1 {
                    font-size: xx-large;
                    margin-bottom: 1dvh;
                }
                span {
                    font-size: medium;
                }
            }

            flex: 1 auto;
            display: flex;
            flex-direction: column;
            height: 99%;

            .log-out {
                margin-top: auto;
                @include u.flex-center;
            }
        }

    }

    mat-drawer-content.dasboard-content {
        padding: 1%;
        width: 75dvw;
        padding: 2%;

    }

    // .app-container {
    //     background-color: red;
    //     padding: 1%;
    //     width: auto
    // }

    // .main {
    //     .app-container {
    //         // margin-right: auto;
    //         // margin-left: auto;
    //         // padding-top: 20px;
    //         // width: 90%;

    //         @include mq.md() {
    //             width: 85%;
    //         }

    //         @include mq.lg() {
    //             width: 70%;
    //         }
    //     }
    // }
}