<mat-drawer-container class="dasboard-container" [hasBackdrop]="false">
    <mat-drawer class="dasboard" [disableClose]="true" mode="side" opened>
        <section class="menu-container">
            <div class="header-menu">
                <h1>
                    ROADA
                </h1>
                <div class="profile-info">
                    <mat-icon>person</mat-icon>
                    {{sesionStore.nombre | uppercase}}
                </div>

            </div>
            <div class="menu">
                <mat-list>
                    @for (item of menuItems; track $index) {
                    <app-sidebar-item [item]="item" />
                    }
                </mat-list>
            </div>
            <div class="log-out">
                <button (click)="logOut()" mat-flat-button class="btn btn-login">
                    <mat-icon>logout</mat-icon>
                    CERRAR SESIÓN
                </button>
            </div>
        </section>
    </mat-drawer>

    <mat-drawer-content class="dasboard-content">
        <main>
            <router-outlet />
        </main>
    </mat-drawer-content>
</mat-drawer-container>