@use 'media-queries' as mq;
@use 'variables' as v;
@use 'utils' as u;

.header {
    height: 6dvh;
    @include mq.lg() {
        display: none;
    }

    button {
        color: white;
    }

    &.header-open {
        background-color: v.$back-ground-dash-board;
    }

    &.header-close {
        background-color: v.$secondary-color;
    }
}


.dasboard-container {
    height: 94dvh;
    display: flex;

    @include mq.lg() {
        height: 100dvh;
    }
    mat-drawer.dasboard {
        width: 80dvw;
        border-radius: 0px !important;

        .menu-container {
            .header-menu {
                color: white;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .profile-info {
                    display: flex;
                    align-items: center;
                }

                h1 {
                    font-size: xx-large;
                    margin-bottom: 1dvh;
                }

                span {
                    font-size: medium;
                }
            }

            flex: 1 auto;
            display: flex;
            flex-direction: column;
            height: 99%;

            .log-out {
                margin-top: auto;
                @include u.flex-center;
            }
        }

        @include mq.md() {
            width: 45dvw;

        }

        @include mq.lg() {
            width: 40dvw;
        }

        @include mq.xl() {
            width: 30dvw;
        }

    }

    mat-drawer-content.dasboard-content {
        padding: 1%;

        padding: 2%;

        width: 100dvw;


        @include mq.lg() {
            width: 57dvw;
        }

        @include mq.xl() {
            width: 67dvw;
        }


    }

    main {
        padding-bottom: 2%;
    }

    // .app-container {
    //     background-color: red;
    //     padding: 1%;
    //     width: auto
    // }

    // .main {
    //     .app-container {
    //         // margin-right: auto;
    //         // margin-left: auto;
    //         // padding-top: 20px;
    //         // width: 90%;

    //         @include mq.md() {
    //             width: 85%;
    //         }

    //         @include mq.lg() {
    //             width: 70%;
    //         }
    //     }
    // }
}