<app-modal-header header="Empresa" />
<form class="form" [formGroup]="form">
    <div class="two-colums">
        <mat-form-field>
            <mat-label>Escriba la clave</mat-label>
            <input type="text" matInput formControlName="clave" />
            @if (clave.touched) {
            <mat-error>{{claveError()}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Escriba el nombre</mat-label>
            <input type="text" matInput formControlName="descripcion" />
            @if (descripcion.touched) {
            <mat-error>{{descripcionError()}}</mat-error>
            }
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Identificador de validador</mat-label>
        <mat-select formControlName="idValidador">
            @for (dvr of dashBoardStore.equivalenciaEmpresaValidador(); track dvr.id) {
            <mat-option [value]="dvr.id">{{dvr.linea}}</mat-option>
            }
        </mat-select>
        @if (idValidador.touched) {
        <mat-error>{{idValidadorError()}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Identificador de DVR</mat-label>
        <mat-select formControlName="idDvr">
            @for (dvr of dashBoardStore.equivalenciaEmpresaDvr(); track dvr.id) {
            <mat-option [value]="dvr.id">{{dvr.parentFleet}}</mat-option>
            }
        </mat-select>
        @if (idDvr.touched && idDvr.invalid) {
        <mat-error>{{idDvrError()}}</mat-error>
        }
    </mat-form-field>


</form>
@if (dashBoardStore.isSelectedEmpresa()) {
<button (click)="update()" [disabled]="form.invalid" mat-flat-button>
    <mat-icon>save</mat-icon>
    Actualizar
</button>

}
@else{

<button (click)="save()" [disabled]="form.invalid" mat-flat-button>
    <mat-icon>save</mat-icon>
    Guardar
</button>
}