<app-modal-header header="turnos" />

<section>
    <mat-stepper orientation="vertical" linear>
        <mat-step>
            <ng-template matStepLabel>DESCARGAR LA PLANTILLA</ng-template>
            <ng-template matStepContent>

                <section class="plantilla">
                    <p>DESCARGUE LA PLANTILLA SI NO LA TIENE</p>
                    <button mat-icon-button (click)="dowloadFile()">
                        <mat-icon>download</mat-icon>
                    </button>
                </section>
                <button mat-button matStepperNext>CONTINUAR</button>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>INDICACIONES</ng-template>
            <ng-template matStepContent>
                <section class="plantilla m-tb-2">

                    <mat-accordion class="w-100">

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> <mat-icon>info</mat-icon> </mat-panel-title>
                                <mat-panel-description>
                                    CAMPOS REQUERIDOS
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <section>
                                <p>EL CAMPO ECONÓMICO ES REQUERIDO</p>
                                <p>EL CAMPO RUTA ES REQUERIDO</p>
                                <p>EL CAMPO TURNO ES REQUERIDO</p>
                                <p>EL CAMPO HORA INICIO ES REQUERIDO</p>
                                <p>EL CAMPO HORA MINUTOS INICIO ES REQUERIDO</p>
                                <p>EL CAMPO HORA FIN ES REQUERIDO</p>
                                <p>EL CAMPO HORA FIN INICIO ES REQUERIDO</p>
                                <p>EL CAMPO CREDENCIAL ES REQUERIDO</p>
                            </section>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> <mat-icon>warning</mat-icon> </mat-panel-title>
                                <mat-panel-description>
                                    CONSIDERACIONES DE LLENADO
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <section>
                                <mat-accordion class="w-100">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>ECONOMICO</strong> </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                            <li>ESTE ESCONÓMICO DEBE PERTECENER A UNA UNIDAD QUE YA ESTÉ DADA DE ALTA EN
                                                LA
                                                EMPRESA ACTUAL</li>
                                        </ul>
                                    </mat-expansion-panel>


                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>RUTA</strong> </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                            <li>DEBE INGRESAR LA CLAVE DE LA RUTA QUE PREVIAMENTE FUE ASIGNADA A LA
                                                EMPRESA
                                                ACTUAL</li>
                                        </ul>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>TURNO</strong> </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                            <li>DEBE ESTAR UN INTÉRVALO DE 1 A 3 DEPENDIENDO DEL TURNO MISMO</li>
                                        </ul>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>HORA INICIO</strong> </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                            <li>DEBE SER NUMÉRICO</li>
                                            <li>TIENE QUE REPRESENAR SÓLO LA HORA EN FORMATO 24 HORAS
                                                <br><small>
                                                    <strong>EJEMPLO:</strong> SI LA HORA DE INICIO ES 3:30 PM, DEBERÁ
                                                    INGRESAR 15
                                                </small>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>MINUTOS INICIO</strong> </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                            <li>DEBE SER NUMÉRICO</li>
                                            <li>TIENE QUE REPRESENAR SÓLO LOS MINUTOS DE LA HORA DE INICIO
                                                <br><small>
                                                    <strong>EJEMPLO</strong>: SI LA HORA DE INICIO ES 4:00 PM, DEBERÁ
                                                    INGRESAR 0
                                                </small>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>


                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>HORA FIN</strong> </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                            <li>DEBE SER NUMÉRICO</li>
                                            <li>TIENE QUE REPRESENAR SÓLO LA HORA EN FORMATO 24 HORAS
                                                <br><small>
                                                    <strong>EJEMPLO</strong>: SI LA HORA DE INICIO ES 7:30 PM, DEBERÁ
                                                    INGRESAR 19
                                                </small>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>MINUTOS FIN</strong> </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                            <li>DEBE SER NUMÉRICO</li>
                                            <li>TIENE QUE REPRESENAR SÓLO LOS MINUTOS DE LA HORA FIN
                                                <br><small>
                                                    <strong>EJEMPLO</strong>: SI LA HORA FIN ES 9:10 PM, DEBERÁ INGRESAR
                                                    10
                                                </small>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>HORA INICIO Y FIN</strong> </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>SÓLO EN TURNOS <strong>DIURNOS</strong> LA HORA DE INICIO (REPRESENTADA
                                                POR
                                                HORA Y MINUTOS INICIO)
                                                DEBE SER MAYOR QUE LA HORA FINAL (REPRESENTADA POR HORA Y MINUTOS FIN)
                                                <br><small>
                                                    <i>
                                                        <strong> EJEMPLO: </strong>
                                                        <br>
                                                        HORA INICIO 13:10 Y HORA FIN
                                                        17:00 - <strong> ✔ </strong>
                                                        HORA INICIO 17:10 Y HORA FIN
                                                        17:00 - <strong>X</strong>
                                                    </i>
                                                </small>

                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> <strong>CREDENCIAL</strong> </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>NO PUEDE ESTÁR VACÍO</li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </section>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> <mat-icon>restore_page</mat-icon> </mat-panel-title>
                                <mat-panel-description>
                                    QUÉ HACER SI EL ARCHIVO SE CORROMPE
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <section>
                                <p class="text-justify">EN CASO QUE EL ARCHIVO ESTÉ LLENEADO DE MANERA CORRECTA Y EL
                                    SISTEMA NO LE NOTIFIQUE
                                    DE ALGUNA VALIDACIÓN QUE NO SE ESTÉ CUMPLIENDO, PUEDE QUE EL ARCHIVO SE HAYA
                                    CORROMPIDO
                                    DURANTE LA DESCARGA O EL PROCESO DE CARGA. EN ESTE CASO, DESCARGUE NUEVAMENTE LA
                                    PLANTILLA
                                    Y COPIE SÓLO LOS VALORES DEL ARCHIVO CORROMPIDO AL NUEVO ARCHIVO DESCARGAD, GUARDE Y
                                    CIERRE
                                    EL DOCUMENTO ANTES DE CARGARLOS NUEVAMENTE.
                                </p>
                            </section>
                        </mat-expansion-panel>

                    </mat-accordion>


                </section>
                <button mat-button matStepperPrevious>ATRÁS</button>
                <button mat-button matStepperNext>CONTINUAR</button>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>FECHA DE LOS TURNOS</ng-template>
            <ng-template matStepContent>
                <section class="plantilla fecha">
                    <mat-form-field>
                        <mat-label>FECHA</mat-label>
                        <input [formControl]="date" matInput [matDatepicker]="picker" [max]="maxDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </section>
                <button mat-button matStepperPrevious>ATRÁS</button>
                <button [disabled]="date.invalid" matStepperNext mat-button>CONTINUAR</button>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>CARGAR PLANTILLA</ng-template>
            <ng-template matStepContent>
                <section class="plantilla">

                    <p>SELECCIONE EL ARCHIVO</p>
                    <button mat-icon-button (click)="getData()">
                        <mat-icon>upload_file</mat-icon>
                    </button>
                </section>
                <button mat-button matStepperPrevious>ATRÁS</button>
                <button [disabled]="!gettingData()" mat-button matStepperNext>CONTINUAR</button>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>REVISIÓN</ng-template>
            <section class="revision">

                @if (thereAreIncompletedRows()) {
                <p>REVISE EL DOCUMENTO CARGADO EN LOS SIGUIENTES REGISTROS:</p>
                <section class="turnos-rows">
                    <table mat-table [dataSource]="incompletedRows()">
                        <ng-container matColumnDef="economico">
                            <th mat-header-cell *matHeaderCellDef> ECONÓMICO </th>
                            <td mat-cell *matCellDef="let element"> {{element.economico}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ruta">
                            <th mat-header-cell *matHeaderCellDef> RUTA </th>
                            <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
                        </ng-container>
                        <ng-container matColumnDef="turno">
                            <th mat-header-cell *matHeaderCellDef> TURNO </th>
                            <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
                        </ng-container>
                        <ng-container matColumnDef="horaInicio">
                            <th mat-header-cell *matHeaderCellDef> HORA INICIO </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora_inicio}} </td>
                        </ng-container>
                        <ng-container matColumnDef="minutosInicio">
                            <th mat-header-cell *matHeaderCellDef> MINUTOS INICIO</th>
                            <td mat-cell *matCellDef="let element"> {{element.minutos_inicio}} </td>
                        </ng-container>
                        <ng-container matColumnDef="horaFin">
                            <th mat-header-cell *matHeaderCellDef> HORA FIN </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora_fin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="minutosFin">
                            <th mat-header-cell *matHeaderCellDef> MINUTOS FIN </th>
                            <td mat-cell *matCellDef="let element"> {{element.minutos_fin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="credencial">
                            <th mat-header-cell *matHeaderCellDef> CREDENCIAL </th>
                            <td mat-cell *matCellDef="let element"> {{element.credencial}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </section>
                <p>LOS REGISTROS NO ESTÁN COMPLETOS</p>
                }
                @else if (thereAreWrongRows()) {
                <p>REVISE EL DOCUMENTO CARGADO EN LOS SIGUIENTES REGISTROS:</p>
                <section class="turnos-rows">
                    <table mat-table [dataSource]="wrongRows()">
                        <ng-container matColumnDef="economico">
                            <th mat-header-cell *matHeaderCellDef> ECONÓMICO </th>
                            <td mat-cell *matCellDef="let element"> {{element.economico}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ruta">
                            <th mat-header-cell *matHeaderCellDef> RUTA </th>
                            <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
                        </ng-container>
                        <ng-container matColumnDef="turno">
                            <th mat-header-cell *matHeaderCellDef> TURNO </th>
                            <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
                        </ng-container>
                        <ng-container matColumnDef="horaInicio">
                            <th mat-header-cell *matHeaderCellDef> HORA INICIO </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora_inicio}} </td>
                        </ng-container>
                        <ng-container matColumnDef="minutosInicio">
                            <th mat-header-cell *matHeaderCellDef> MINUTOS INICIO</th>
                            <td mat-cell *matCellDef="let element"> {{element.minutos_inicio}} </td>
                        </ng-container>
                        <ng-container matColumnDef="horaFin">
                            <th mat-header-cell *matHeaderCellDef> HORA FIN </th>
                            <td mat-cell *matCellDef="let element"> {{element.hora_fin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="minutosFin">
                            <th mat-header-cell *matHeaderCellDef> MINUTOS FIN </th>
                            <td mat-cell *matCellDef="let element"> {{element.minutos_fin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="credencial">
                            <th mat-header-cell *matHeaderCellDef> CREDENCIAL </th>
                            <td mat-cell *matCellDef="let element"> {{element.credencial}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </section>
                <p>EL ARCHIVO NO ES VÁLIDO POR ALGUNA DE ESTAS RAZONES:</p>
                <ul>
                    <li>LA RUTA NO ESTÁ ASIGNADA A LA EMPRESA</li>
                    <li>LA UNIDAD NO ESTÁ DADA DE ALTA EN LA EMPRESA</li>
                    <li>EL TURNO NO ESTÁ EN EL RANGO DE 1 A 3</li>
                    <li>LAS HORAS Y MINUTOS DE INICIO Y FIN SON INCORRECTAS</li>
                </ul>

                }

                @else if (rowsAreCorrect()) {
                <p>LA SIGUIENTE INFORMACIÓN CORRESPONDE A LA FECHA: <strong>{{date.value | date:'dd-MM-yyyy'}}</strong>
                </p>
                <section class="turnos-rows">
                    <table mat-table [dataSource]="correctRows()">
                        <ng-container matColumnDef="economico">
                            <th mat-header-cell *matHeaderCellDef> ECONÓMICO </th>
                            <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ruta">
                            <th mat-header-cell *matHeaderCellDef> RUTA </th>
                            <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
                        </ng-container>
                        <ng-container matColumnDef="turno">
                            <th mat-header-cell *matHeaderCellDef> TURNO </th>
                            <td mat-cell *matCellDef="let element"> {{element.clasificacionTurno}} </td>
                        </ng-container>
                        <ng-container matColumnDef="horaInicio">
                            <th mat-header-cell *matHeaderCellDef> HORA INICIO </th>
                            <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
                        </ng-container>
                        <ng-container matColumnDef="horaFin">
                            <th mat-header-cell *matHeaderCellDef> HORA FIN </th>
                            <td mat-cell *matCellDef="let element"> {{element.horaFin}} </td>
                        </ng-container>
                        <ng-container matColumnDef="credencial">
                            <th mat-header-cell *matHeaderCellDef> CREDENCIAL </th>
                            <td mat-cell *matCellDef="let element"> {{element.credencial}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCorrectRows"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCorrectRows;"></tr>
                    </table>
                </section>
                }
            </section>
            <button mat-button matStepperPrevious>ATRÁS</button>
            <button [disabled]="thereAreIncompletedRows() || thereAreWrongRows()" mat-button
                (click)="save()">CONFIRMAR</button>

        </mat-step>
    </mat-stepper>

</section>