<main class="container">
    @if(!sessionService.isLoggedIn) {
    <section class="login">
        <h2 class="mensaje">BIENVENIDO A ROADA</h2>
        <form class="login-form" [formGroup]="formLogin">
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="nombreUsuario" />
                <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="clave" />
                <button type="button" mat-icon-button matPrefix (click)="clickEvent($event)"
                    [attr.aria-label]="'Password'" [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
        @if(!baseStore.loginError()) {
        <span class="error-login"></span>
        }
        @else {
        <span class="error-login">
            Revisa tus credenciales
        </span>
        }
        <button [disabled]="formLogin.invalid" class="btn btn-login" mat-flat-button (click)="login()">INICIAR SESIÓN</button>
    </section>
    }
    @else {
    <section class="login">
        <h2 class="mensaje">SELECCIONE UNA EMPRESA</h2>
        <form class="login-form" [formGroup]="formLogin">
     
            <mat-form-field>
                <!-- <mat-label>Selecciona una empresa</mat-label> -->
                <mat-select [formControl]="empresa">
                    @for (empresa of baseStore.usuario.empresas(); track empresa.id) {
                    <mat-option [value]="empresa.id">{{empresa.clave | uppercase}} - {{empresa.descripcion  | uppercase}}</mat-option>
                    }
                </mat-select>
                @if (empresa.touched && empresa.invalid) {
                <mat-error>Este campo es requirido</mat-error>
                }
            </mat-form-field>
        </form>
        <button [disabled]="empresa.invalid" class="btn btn-login" mat-flat-button (click)="goToDashboard()">ENTRAR</button>
    </section>
    }
</main>