@use 'variables' as v;
@use 'utils' as u;
@use 'media-queries' as mq;

.container {
    @include u.flex-center;
    height: 100dvh;
    background-color: v.$primary-color;

    .login {
        width: 80dvw;
        height: 60dvh;
        row-gap: 10%;
        flex-direction: column;
        background-color: white;
        border-radius: v.$border-radius-default;
        @include u.flex-center;
        @include mq.sm() {
            width: 60dvw;            
        }
        @include mq.md() {
            width: 40dvw;            
        }
        @include mq.md() {
            width: 40dvw;            
        }

        .login-form {
            padding: 0 10%;
        }
        .btn-login {
            width: 70%;
            @include mq.md() {
                width: 50%;
            }
            @include mq.lg() {
                width: 40%;
            }
        }
        .error-login {
            color: red;
            height: 1dvh;
        }
    }
}