@use 'variables' as v;
@use 'utils' as u;
@use 'media-queries' as mq;

.container {
    @include u.flex-center;
    height: 100dvh;
    background-color: v.$primary-color;

    .login {
        width: 70dvw;
        height: 75dvh;
        padding: 0 5%;
        row-gap: 10%;
        flex-direction: column;
        background-color: white;
        border-radius: v.$border-radius-default;
        @include u.flex-center;

        @include mq.sm() {
            height: 65dvh;
            width: 50dvw;
        }

        @include mq.md() {
            height: 70dvh;
            width: 40dvw;
        }

        @include mq.lg() {
            width: 30dvw;
        }

        @include mq.xl() {
            width: 20dvw;
        }

        .login-form {
            width: 100%;
        }

        .btn-login {
            width: 70%;

            @include mq.md() {
                width: 50%;
            }

        }

        .mensaje {
            text-align: center;
        }

        .error-login {
            color: red;
            height: 1dvh;
        }
    }
}