<header>
    <h1>
        EMPRESAS
    </h1>
</header>

<section class="table-header">
    <div class="options">
        <mat-form-field appearance="outline">
            <input matInput type="text" [formControl]="search" />
            <button mat-icon-button matPrefix [attr.aria-label]="'buscar'" [attr.aria-pressed]="true">
                <mat-icon>search</mat-icon>
            </button>
            @if (search.value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
            }
        </mat-form-field>
        <div>
            <button class="btn-add" mat-mini-fab aria-label="Example icon button with a home icon"
                (click)="openModal()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

</section>

@if (dashBoardStore.pagedEmpresas().data.length > 0) {
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dashBoardStore.pagedEmpresas.data()">
        <ng-container matColumnDef="clave">
            <th mat-header-cell *matHeaderCellDef> CLAVE </th>
            <td mat-cell *matCellDef="let element"> {{element.clave | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="validador">
            <th mat-header-cell *matHeaderCellDef> VALIDADOR</th>
            <td mat-cell *matCellDef="let element"> {{element.validador | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="dvr">
            <th mat-header-cell *matHeaderCellDef> DVR </th>
            <td mat-cell *matCellDef="let element"> {{element.dvr | uppercase}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td class="actions" mat-cell *matCellDef="let element">
                <div class="buttons">
                    <button mat-icon-button (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delete(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <app-table-paginator [length]="dashBoardStore.pagedEmpresas.metadata().totalCount"
    [lastId]="dashBoardStore.pagedEmpresas.metadata().lastId" 
    (pageChanged)="handlePageEvent($event)" />
</div>
}
@else {
    <app-no-data/>
}